/*Colors*/ 
$blue : #F4ECF7 ;
$red : #B03A2E;
$pink : #B03A2E;
$purple : #76448A;
$yellow : #6C3483;
$green : #21618C;

/*Font families*/ 
$fontStyle1 : 'Mate SC', serif;
$fontStyle2 : 'Overlock', cursive;

/*Style section1 in App Component*/ 
.section1 {
    background-color: $blue;
    text-align: center;
    font-family: $fontStyle1;

    h1 {
        font-size: 12em;
    }

    p {
        font-size: 4em;
    }
}

/*Style section2 in App Component*/
.section2 {
    text-align: center;
    font-family: $fontStyle2;

    p {
        font-size: 3em;
    }

    ol {
        font-size: 1.75em;
        display: inline-block;
        text-align: left;
    }
} 

/*Style new-meal and edit-meal in App Component*/
new-meal, edit-meal {
    font-family: $fontStyle2; 

    h2 {
        font-family: $fontStyle1;
        font-size: 4em;
    }

    label {
        font-size: 1.75em;
    }

    button {
        margin-top: 2vh;
    }
} 

/*Style h2 of new-meal in App Component*/ 
new-meal {
    h2 {
        text-align: center;
    }
}
/*Style meal-list in App Component*/
meal-list {
    text-align: center;

    height: 5vh;

    .currentMealList {
        height : 30vh;
        overflow: scroll;
    }

    h4 {
        cursor: pointer;
    }
} 

/*Style footer in App Component*/ 
footer {
    text-align: center;
    background-color: $blue;
    font-family: $fontStyle1;
    p {
        font-size: 1.75em;
        padding-bottom: 1em;;
    }
}


/*Animate content in p in section1, p in footer*/

.section1 p, footer p {
    color: $red;
    position: relative;
    /* Chrome and Safari*/
    -webkit-animation-name: motto-animation;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    /*Firefox*/
    -moz-animation-name: motto-animation;
    -moz-animation-duration: 4s;
    -moz-animation-iteration-count: infinite;
    /*Opera*/
    -o-animation-name: motto-animation;
    -o-animation-duration: 4s;
    -o-animation-iteration-count: infinite;
    animation-name: motto-animation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}


/*Chrome and Safari*/

@-webkit-keyframes motto-animation {
    0% {
    color: $red;
    }
    25% {
    color: $pink;
    }
    50% {
    color: $purple;
    }
    75% {
    color: $yellow;
    }
    100% {
    color: $green;
    }
}


/*Fifefox*/

@-moz-keyframes motto-animation {
    0% {
    color: $red;
    }
    25% {
    color: $pink;
    }
    50% {
    color: $purple;
    }
    75% {
    color: $yellow;
    }
    100% {
    color: $green;
    }
}


/*Opera*/

@-o-keyframes motto-animation {
    0% {
    color: $red;
    }
    25% {
    color: $pink;
    }
    50% {
    color: $purple;
    }
    75% {
    color: $yellow;
    }
    100% {
    color: $green;
    }
}
