$blue : #F4ECF7 ;

/*Style section1 in App Component*/ 
.section1 {
    background-color: $blue;
    text-align: center;}

/*Style meal-list in App Component*/
meal-list {
    text-align: center;

    height: 5vh;

    .currentMealList {
        height : 30vh;
        overflow: scroll;
    }

    h4 {
        cursor: pointer;
    }
} 

/*Style footer in App Component*/ 
footer {
    text-align: center;
    background-color: $blue;
    p {
        padding-bottom: 1em;;
    }
}